h1 {
  text-align: center;
  font-family: tahoma;
  font-size: 300%;
}
h2 {
  display: block;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  font-family: arial;
  font-size: 125%;
}
h3 {
  text-align: left;
  font-family: arial;
  font-size: 105%;
}
body {
  text-align: left;
  font-family: arial;
  font-size: 90%;
}
